body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-backdrop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.auth {
  width: 600px;
  height: 600px;
  margin-top: 15%;
}

.min-width-24 {
  min-width: 24px;
}

.btn-extra-sm {
  width: 24px;
  height: 24px;
}

.btn-clean {
  border: none;
  background: none;
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-0 {
  padding-right: 0;
}

.pr-10 {
  padding-right: 10px;
}

.min-width-49 {
  min-width: 49px;
}

.min-width-86 {
  min-width: 86px;
}

.min-width-90 {
  min-width: 90px;
}

.width-592 {
  width: 592px;
}

.border-none {
  border: none;
}

.material-icons-outlined {
  color: #6c757d;
}